#bb-sidebar {		    
    .bb-sidebar-content {
        margin-top: 10px;
        background-color: var(--color-bg-secondary);
        border-radius: 6px;
        border: 1px solid var(--color-border-primary);
        -webkit-border-radius: 6px;	
        -moz-border-radius: 6px;	
        color: var(--color-text);
        vertical-align: text-bottom;
        position: fixed;
        width: inherit;
    }

    border-radius: 6px;
}